<div class="header row align-items-center">
    <h3 class="flex-grow">
        Subscribed channels
    </h3>
    <button class="btn btn-sm btn-outline-tribler" (click)="openChannelModal(content)">Add</button>
</div>
<div *ngIf="channels.length === 0" class="header border-0">You are not subscribed to any channel.</div>
<list [title]="'Subscribed channels'" [items]="channels" [showHeader]="false"></list>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add channel</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="control-label">Channel ID</label>
                <input type="text" class="form-control" [(ngModel)]="channelId" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-tribler" (click)="addChannel(); c()">Add</button>
        <button type="button" class="btn btn-outline-tribler" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
