<div class="d-flex flex-column flex-grow video-wrapper">
    <div *ngIf="download" class="text-white bg-black pl-1">
        {{ download.status | downloadStatus}}
        <span *ngIf="download.status === 'DLSTATUS_DOWNLOADING'">
            <small>(&darr;{{ download.speed_down | fileSize:1 }}/s &uarr;{{ download.speed_up | fileSize:1 }}/s)</small>
        </span>
    </div>
    <video #player class="d-flex flex-column flex-grow bg-black" width="100%" height="100%" controls controlsList="nodownload">
        <source src="" type="video/mp4"> Your browser does not support HTML5 video.
    </video>
</div>
