<small *ngIf="router.url.startsWith('/videoplayer')">
    <ul *ngIf="download" class="list-group videomenu">
        <li class="list-group-item text-truncate text-white">Video playlist</li>

        <li *ngIf="download.files.length === 0"
            class="list-group-item text-truncate">
            <i class="fa fa-spinner fa-spin"></i> Downloading torrent...
        </li>

        <li *ngFor="let file of download.files | videofile | orderBy: 'name':false"
            class="list-group-item text-truncate"
            [title]="file.name">
            <a (click)="triblerService.addStreamingEvent('play', true, download, file.index)"
               [class.text-muted]="file.index === fileindex">
               {{ file.name }}
            </a>
        </li>
    </ul>
</small>
