<div class="wrapper">
    <searchbar></searchbar>
    <div class="row full-height" style="width:100%;margin:0px;">
        <div class="col-sm-3 menu">
            <ul class="nav nav-pills nav-stacked xs-collapse">
                <li><a class="list-group-item" [routerLink]="['home']" routerLinkActive="active"><i class="fa fa-home"></i> Home</a></li>
                <li><a class="list-group-item" [routerLink]="['search']" routerLinkActive="active"><i class="fa fa-search"></i> Search results</a></li>
                <li><a class="list-group-item" [routerLink]="['channels']" routerLinkActive="active"><i class="fa fa-globe"></i> Discovered</a></li>
                <li><a class="list-group-item" [routerLink]="['mychannel']" routerLinkActive="active"><i class="fa fa-share-alt"></i> My Channel</a></li>
                <li><a class="list-group-item" [routerLink]="['subscriptions']" routerLinkActive="active"><i class="fa fa-heart"></i> Subscriptions</a></li>
                <li><a class="list-group-item" [routerLink]="['downloads']" routerLinkActive="active"><i class="fa fa-arrow-down"></i> Downloads</a></li>
                <li><a class="list-group-item" [routerLink]="['videoplayer']" routerLinkActive="active"><i class="fa fa-play"></i> Video Player</a></li>
            </ul>
        </div>
        <div class="col-sm-9 no-padding">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
