<header>
    <searchbar></searchbar>
</header>

<div class="wrapper no-gutters">

    <!-- Nav -->
    <nav class="menu col-lg-2 col-xxl-1 bg-inverse">
        <section>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" [routerLink]="['home']" routerLinkActive="active"><i class="fa fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['search']" routerLinkActive="active" [class.disabled]="triblerService.searchResults.length === 0"><i class="fa fa-search"></i> Search results</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['channels']" routerLinkActive="active"><i class="fa fa-globe"></i> Discovered</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['mychannel']" routerLinkActive="active"><i class="fa fa-share-alt"></i> My Channel</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['subscriptions']" routerLinkActive="active"><i class="fa fa-heart"></i> Subscriptions</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['downloads']" routerLinkActive="active"><i class="fa fa-arrow-down"></i> Downloads</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['videoplayer']" routerLinkActive="active"><i class="fa fa-play"></i> Video Player</a></li>
            </ul>
        </section>
        <videomenu></videomenu>
    </nav>

    <!-- Main -->
    <main class="main col-lg-10 col-xxl-12">
        <div class="d-flex flex-column flex-grow">
            <router-outlet></router-outlet>
        </div>
    </main>

</div>