<div class="row listitem clickable" [routerLink]="['/channels', channel.dispersy_cid]">
  <div class="col-sm">
      <div class="row hide-overflow">
          <div class="badge badge-outline">channel</div> {{channel.name}}
      </div>
      <div class="row">
          {{channel.torrents}} items
      </div>
  </div>
  <div class="col-xs">
      <div class="pull-right">
          <div class="fa fa-heart" (click)="toggle_subscription($event)"
              [class.subscribed]="channel.subscribed" [class.unsubscribed]="!channel.subscribed"></div>
           <small> {{ channel.votes }} votes</small>
        </div>
  </div>
</div>
