<div class="row listitem" [routerLink]="['/channels', channel.dispersy_cid]">
  <div class="col-xs-6">
      <div class="row hide-overflow">
          <div class="badge badge-outline">channel</div> {{channel.name}}
      </div>
      <div class="row">
          {{channel.torrents}} items
      </div>
  </div>
  <div class="col-xs-6">
      <div class="pull-right"><div class="fa fa-heart" [class.subscribed]="channel.subscribed"></div><small> {{ channel.votes }} votes</small></div>
  </div>
</div>
