.listitem {
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 3px 10px !important;
    color: #ccc;
    text-overflow: hidden;
}
.listitem .row {
    padding: 3px 0px;
}
.clickable {
    cursor: pointer;
}
.badge-outline {
    font-weight: normal;
    border: 1px solid #999;
    background-color: transparent;
}
.hide-overflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}
.subscribed {
    color: deeppink;
}
.unsubscribed {
    color: #ccc;
}
.subscribed:hover, .unsubscribed:hover {
    color: rgb(255, 199, 230);
}
.color-box {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: large;
    font-weight: bold;
}
.col {
    /* Ensures that text is truncated properly in the flexbox  */
    min-width: 0px !important;
}
