<div *ngIf="showHeader" class="header row align-items-center">
    <h3 class="flex-grow">
        <span *ngIf="showBackButton" class="fa fa-chevron-left back" (click)="back()"> </span>
        {{ title }}
    </h3>
    <small class="align-middle">showing: {{ ((itemsMaxShown > items.length) ? items.length : itemsMaxShown) }}/{{ items.length }}</small>
</div>
<div infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">

    <div *ngFor="let item of items; let i=index; trackBy: trackByFn">
        <div *ngIf="i < itemsMaxShown" [ngSwitch]="item.type">
            <torrent-item *ngSwitchCase="'torrent'" [torrent]="item"></torrent-item>
            <channel-item *ngSwitchCase="'channel'" [channel]="item"></channel-item>
        </div>
    </div>
</div>
