<div class="row listitem flex-nowrap">
    <div class="col-xs">
        <div class="color-box" randomBackgroundColor>{{ torrent.name | abbreviate }}</div>
    </div>
    <div class="col">
        <div class="row hide-overflow">
            <div class="badge badge-outline">{{ torrent.category | lowercase }}</div> {{ torrent.name }}
        </div>
        <div class="row">
            <div class="col-3 p-0">Size: {{ (torrent.size || 0) | fileSize }}</div>
            <div class="col-9">Health: <health [health]="health"></health><i *ngIf="healthChecking" class="fa fa-spinner fa-spin"></i></div>
        </div>
    </div>
    <div class="col-xs d-flex align-items-center">
        <button type="button" class="btn btn-sm btn-outline-tribler" (click)="play()">
            <div class="fa fa-play"></div>
        </button>
        <button type="button" class="btn btn-sm btn-outline-tribler" (click)="openDownloadModal(torrent)">
            <div class="fa fa-arrow-down"></div>
        </button>
    </div>
</div>
