::ng-deep .nav-tabs .nav-link {
    padding: 0px 10px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #888;
    color: #000;
    border: 0px;
}
::ng-deep .nav-tabs .nav-link.active {
    background-color: #ccc !important;
}
::ng-deep .nav-tabs {
    border: 0px;
}
