.progress-bar {
    color: #000;
    background-color: #e67300;
    width: 30px;
}
.progress {
    margin-top: 7px;
    background-color:#fff;
    position: relative;
}
.progress-bar-title {
    position: absolute;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    color: #000;
    right: 0;
    left: 0;
}
download-details {
    width:100%;
    flex-grow:inherit !important;
}
