<div class="header row align-items-center">
    <h3 class="flex-grow">Downloads</h3>
    <div class="align-middle">
        <button type="button" class="btn btn-outline-tribler" (click)="resumeDownload()"><div class="fa fa-play"></div></button>
        <button type="button" class="btn btn-outline-tribler" (click)="stopDownload()"><div class="fa fa-stop"></div></button>
        <button type="button" class="btn btn-outline-tribler" (click)="removeDownload()"><div class="fa fa-remove"></div></button>
    </div>
</div>

<ngx-datatable
    class='d-flex flex-column flex-grow'
    [rows]='downloads'
    [headerHeight]="50"
    [footerHeight]="0"
    [scrollbarV]="false"
    [scrollbarH]="true"
    [selected]="selected"
    [selectionType]="'single'"
    (activate)="onActivate($event)"
    (select)='onSelect($event)'>

    <ngx-datatable-column prop="name" name="Name" [minWidth]="150" [canAutoResize]="false"></ngx-datatable-column>
    <ngx-datatable-column prop="size" name="Size" [canAutoResize]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | fileSize }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column class="column" prop="progress" name="Progress" [canAutoResize]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                    [attr.aria-valuenow]="value" aria-valuemin="0" aria-valuemax="1"
                    [style.width]="(value)*100 + '%'">
                    <div class="progress-bar-title">{{ value * 100 | number:'1.0-1' }}%</div>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="status" name="Status" [canAutoResize]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | downloadStatus }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="speed_down" name="&darr; Speed" [canAutoResize]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | fileSize:1 }}/s
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="speed_up" name="&uarr; Speed" [canAutoResize]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | fileSize:1 }}/s
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="num_seeds" name="Seeds" [canAutoResize]="false"></ngx-datatable-column>
    <ngx-datatable-column prop="num_peers" name="Peers" [canAutoResize]="false"></ngx-datatable-column>
    <ngx-datatable-column prop="hops" name="Hops" [canAutoResize]="false"></ngx-datatable-column>
</ngx-datatable>
<download-details *ngIf="selected[0]" [download]="selected[0]"></download-details>