<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <div class="navbar-brand">
              <a class="btn btn-gray" href="#"><i class="fa fa-bars fa-lg"></i></a>
              Tribler
          </div>
      </div>
      <div class="navbar-form">
          <div class="form-group" style="display:inline;">
              <div class="input-group" style="display:table;">
              <input [(ngModel)]="query" [typeahead]="dataSource"
                     [typeaheadWaitMs]="300" [typeaheadOptionsLimit]="7"
                     (keyup.enter)="search()" class="form-control"
                     placeholder="Search for your favorite content">
              <span class="input-group-btn" style="width:1%;">
                  <button (click)="search()" class="btn btn-default" type="button">Go!</button>
              </span>
              </div>
          </div>
      </div>
  </div>
</nav>
