<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="btn btn-outline-tribler mr-2" href="#">
        <i class="fa fa-bars fa-lg"></i>
    </a>
    <a class="navbar-brand" href="#">Tribler</a>
    <form class="form-inline flex-grow">
        <div class="input-group flex-grow">
            <input [(ngModel)]="query" [ngModelOptions]="{standalone: true}"
                   [ngbTypeahead]="completions" type="search" class="form-control"
                   (keyup.enter)="search()" placeholder="Search for your favorite content">
            <span class="input-group-btn">
                <button class="btn btn-outline-tribler" type="button" (click)="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Go!
                </button>
            </span>
        </div>
    </form>
    <button class="btn btn-outline-tribler ml-1" type="button" [routerLink]="['trustchain']"><span class="fa fa-star"></span></button>
    <button class="btn btn-outline-tribler ml-1" type="button" (click)="search()"><span class="fa fa-cog"></span></button>
    <button class="btn btn-outline-tribler ml-1" type="button" (click)="open_magnet_modal(content)"><span class="fa fa-plus"></span></button>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add torrent</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="control-label">Magnet/HTTP link</label>
                <input type="text" class="form-control" [(ngModel)]="magnet" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-tribler" (click)="add_magnet(); c()">Add</button>
        <button type="button" class="btn btn-outline-tribler" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
