<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="btn btn-gray" href="#">
        <i class="fa fa-bars fa-lg"></i>
    </a>
    <a class="navbar-brand" href="#">Tribler</a>
    <form class="form-inline flex-grow">
        <div class="input-group flex-grow">
            <input [(ngModel)]="query" [ngModelOptions]="{standalone: true}"
                   [ngbTypeahead]="completions" type="search" class="form-control"
                   (keyup.enter)="search()" placeholder="Search for your favorite content">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Go!
                </button>
            </span>
        </div>
    </form>
</nav>